<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AuthJamfComputerID</key>
	<string>$JSSID</string>
	<key>InstallMacOSMajorUpgrades</key>
	<true/>
	<key>InstallMacOSMajorVersionTarget</key>
	<string>14</string>
	<key>InstallRapidSecurityResponses</key>
	<true/>
	<key>InstallNonSystemUpdatesWithoutRestarting</key>
	<true/>
	<key>InstallSafariUpdateWithoutRestarting</key>
	<true/>
	<key>InstallPrioritizeNonRestartUpdates</key>
	<true/>
	<key>InstallJamfPolicyTriggers</key>
	<string>trigger1,trigger2,trigger3</string>
	<key>InstallJamfPolicyTriggersWithoutRestarting</key>
	<true/>
	<key>WorkflowInstallNow</key>
	<true/>
	<key>WorkflowOnlyDownload</key>
	<true/>
	<key>WorkflowRequireActiveUser</key>
	<true/>
	<key>WorkflowRestartWithoutUpdates</key>
	<true/>
	<key>WorkflowDisableUpdateCheck</key>
	<true/>
	<key>WorkflowDisableRelaunch</key>
	<true/>
	<key>DeferralTimerDefault</key>
	<string>60</string>
	<key>DeferralTimerMenu</key>
	<string>15,60,240,1440</string>
	<key>DeferralTimerFocus</key>
	<string>60</string>
	<key>DeferralTimerError</key>
	<string>60</string>
	<key>DeferralTimerWorkflowRelaunch</key>
	<string>360</string>
	<key>ScheduleWorkflowActive</key>
	<string>TUE:13:00-17:00,WED:13:00-17:00,THU:13:00-17:00</string>
	<key>ScheduleZeroDateRelease</key>
	<true/>
	<key>ScheduleZeroDateSOFACustomURL</key>
	<string>https://sofa.example.domain.com/v1/macos_data_feed.json</string>
	<key>ScheduleZeroDateManual</key>
	<string>2023-09-21:00:00</string>
	<key>ScheduledInstallDays</key>
	<string>3</string>
	<key>ScheduledInstallDate</key>
	<string>2023-09-21:00:00</string>
	<key>ScheduledInstallUserChoice</key>
	<true/>
	<key>ScheduledInstallReminder</key>
	<string>15,60,240,1440</string>
	<key>DeadlineCountFocus</key>
	<string>5</string>
	<key>DeadlineCountSoft</key>
	<string>5</string>
	<key>DeadlineCountHard</key>
	<string>5</string>
	<key>DeadlineDaysFocus</key>
	<string>3</string>
	<key>DeadlineDaysSoft</key>
	<string>5</string>
	<key>DeadlineDaysHard</key>
	<string>7</string>
	<key>DeadlineDateFocus</key>
	<string>2023-09-21:00:00</string>
	<key>DeadlineDateSoft</key>
	<string>2023-09-25:00:00</string>
	<key>DeadlineDateHard</key>
	<string>2023-09-27:00:00</string>
	<key>DialogTimeoutDefault</key>
	<string>600</string>
	<key>DialogTimeoutUserAuth</key>
	<string>600</string>
	<key>DialogTimeoutUserChoice</key>
	<string>600</string>
	<key>DialogTimeoutUserSchedule</key>
	<string>600</string>
	<key>DialogTimeoutSoftDeadline</key>
	<string>600</string>
	<key>DialogTimeoutInsufficientStorage</key>
	<string>600</string>
	<key>DialogTimeoutPowerRequired</key>
	<string>600</string>
	<key>DisplayUnmovable</key>
	<string>ALWAYS</string>
	<key>DisplayHideBackground</key>
	<string>DEADLINE,INSTALLNOW</string>
	<key>DisplaySilently</key>
	<string>INSTALLNOW</string>
	<key>DisplayHideProgressBar</key>
	<string>DEADLINE,INSTALLNOW</string>
	<key>DisplayNotificationsCentered</key>
	<string>DEADLINE,INSTALLNOW</string>
	<key>DisplayIconSize</key>
	<string>128</string>
	<key>DisplayIconFile</key>
	<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/BurningIcon.icns</string>
	<key>DisplayIconLightFile</key>
	<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/BurningIcon.icns</string>
	<key>DisplayIconDarkFile</key>
	<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/BurningIcon.icns</string>
	<key>DisplayAccessoryType</key>
	<string>HTML</string>
	<key>DisplayAccessoryDefaultFile</key>
	<string>https://raw.githubusercontent.com/Macjutsu/super/main/Super-Friends/Display-Accessory-Example.html</string>
	<key>DisplayAccessoryMacOSMinorUpdateFile</key> <string>path or URL</string>
	<string>https://raw.githubusercontent.com/Macjutsu/super/main/Super-Friends/Display-Accessory-Example.html</string>
	<key>DisplayAccessoryMacOSMajorUpgradeFile</key> <string>path or URL</string>
	<string>https://raw.githubusercontent.com/Macjutsu/super/main/Super-Friends/Display-Accessory-Example.html</string>
	<key>DisplayAccessoryNonSystemUpdatesFile</key> <string>path or URL</string>
	<string>https://raw.githubusercontent.com/Macjutsu/super/main/Super-Friends/Display-Accessory-Example.html</string>
	<key>DisplayAccessorySafariUpdateFile</key> <string>path or URL</string>
	<string>https://raw.githubusercontent.com/Macjutsu/super/main/Super-Friends/Display-Accessory-Example.html</string>
	<key>DisplayAccessoryJamfPolicyTriggersFile</key> <string>path or URL</string>
	<string>https://raw.githubusercontent.com/Macjutsu/super/main/Super-Friends/Display-Accessory-Example.html</string>
	<key>DisplayAccessoryRestartWithoutUpdatesFile</key> <string>path or URL</string>
	<string>https://raw.githubusercontent.com/Macjutsu/super/main/Super-Friends/Display-Accessory-Example.html</string>
	<key>DisplayHelpButtonString</key>
	<string>https://support.apple.com/en-us/HT201541</string>
	<key>DisplayWarningButtonString</key>
	<string>https://support.apple.com/en-us/HT201222</string>
	<key>AuthAskUserToSavePassword</key>
	<true/>
	<key>AuthJamfCustomURL</key>
	<string>https://jamf-api.example.domain.com</string>
	<key>AuthCredentialFailoverToUser</key>
	<true/>
	<key>AuthMDMFailoverToUser</key>
	<string>ERROR</string>
	<key>TestMode</key>
	<true/>
	<key>TestModeTimeout</key>
	<string>60</string>
	<key>TestStorageUpdate</key>
	<string>25</string>
	<key>TestStorageUpgrade</key>
	<string>25</string>
	<key>TestBatteryLevel</key>
	<string>75</string>
	<key>VerboseMode</key>
	<true/>
</dict>
</plist>
