<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JamfProID</key>
	<string>$JSSID</string>
	<key>DefaultDefer</key>
	<string>120</string>
	<key>FocusDefer</key>
	<string>120</string>
	<key>MenuDefer</key>
	<string>120,200,300</string>
	<key>RecheckDefer</key>
	<string>120</string>
	<key>FocusCount</key>
	<string>5</string>
	<key>SoftCount</key>
	<string>5</string>
	<key>HardCount</key>
	<string>5</string>
	<key>FocusDays</key>
	<string>2</string>
	<key>SoftDays</key>
	<string>4</string>
	<key>HardDays</key>
	<string>6</string>
	<key>ZeroDay</key>
	<string>2022-07-01</string>
	<key>FocusDate</key>
	<string>2022-07-01</string>
	<key>SoftDate</key>
	<string>2022-07-02:02</string>
	<key>HardDate</key>
	<string>2022-07-03:03:03</string>
	<key>DisplayTimeout</key>
	<string>60</string>
	<key>DisplayRedraw</key>
	<string>20</string>
	<key>DisplayIcon</key>
	<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/BurningIcon.icns</string>
	<key>IconSizeIbm</key>
	<string>128</string>
	<key>IconSizeJamf</key>
	<string>128</string>
	<key>PreferJamfHelper</key>
	<false/>
	<key>AllowUpgrade</key>
	<true/>
	<key>TargetUpgrade</key>
	<string>12</string>
	<key>PolicyTriggers</key>
	<string>trigger1,trigger2</string>
	<key>SkipUpdates</key>
	<true/>
	<key>PushMajorUpgrade</key>
	<false/>
	<key>ForceRestart</key>
	<true/>
	<key>TestMode</key>
	<true/>
	<key>TestModeTimeout</key>
	<string>15</string>
	<key>VerboseMode</key>
	<true/>
</dict>
</plist>
